@charset "utf-8";

/*====================================================
Ludwig-Emmanuel Dufour
2031990
Travail de session web
Portfolio Personnel
/*=============== Fonts ============================*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&family=Saira:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


/*------------------ Général -------------------*/
*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

/*------------------ Colonnes -------------------*/
.colonne-Titre-Sec{
	position:fixed;
	width: 40%;
	height:65%;
	overflow:hidden;
	bottom:120px;
	left:60px;
	z-index:1;
}
.colonne-Titre-Sec h2{
	position:relative;
	width:100%;
	height:100%;
	font-size:80px;
	font-family: 'Cinzel', serif;
	color:black;
	z-index:2;
	padding:20%;
}

/*------------------ Gallerie -------------------*/
.gallerie {
	 display: flex;
	 padding: 2px;
	 transition: 0.3s;
}
 .gallerie:hover .gallerie__image {
	 filter: grayscale(1);
}
 .gallerie__colonne {
	 display: flex;
	 flex-direction: column;
	 width: 25%;
}
 .gallerie__focus {
	 margin: 2px;
	 overflow: hidden;
}
 .gallerie__focus:hover .gallerie__image {
	 filter: grayscale(0);
}
 .gallerie__focus:hover .gallerie__caption {
	 opacity: 1;
}
 .gallerie__thumb {
	 position: relative;
}
 .gallerie__image {
	 display: block;
	 width: 100%;
	 transition: 0.3s;
}
 .gallerie__image:hover {
	 transform: scale(1.1);
}
 .gallerie__caption {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 padding: 25px;
	 width: 100%;
	 font-family: 'Raleway', sans-serif;
	 font-size: 16px;
	 color: white;
	 opacity: 0;
	 background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
	 transition: 0.3s;
}
 
@media only screen and (max-width: 768px){
	.main h1{
		font-size: 1.8em;
		width: 400px;
	}
	.main p{
		font-size: 1.2em;
	}
	.main .gallerie{
		display: grid;
		grid-template-columns: auto auto auto;
	}
}